# Queries for JOINs

## Overview

In this activity I practice writing queries that join multiple tables, as well as making queries more readable using aliasing. For this purpose, I will examine two tables from the World Bankâ€™s International Education dataset in order to answer some questions.

## Dataset

I will use the BigQuery public dataset called `world_bank_intl_education` with the full path `bigquery-public-data.world_bank_intl_education`. To view all the tables in this public dataset in BigQuery, I use the INFORMATION_SCHEMA.TABLES view as follows:

In [ ]:
SELECT *
FROM bigquery-public-data.world_bank_intl_education.INFORMATION_SCHEMA.TABLES;

The dataset contains the following tables:

- country_series_definitions
- country_summary
- international_education
- series_summary

## Query: Number of people of the official age for secondary education in 2015 by region

I execute the following query that will join the data from the `international_education` table to the `country_summary` table to return a list of regions with the number of people of the official age for secondary education in 2015, filtering out records:

- where no region has been captured,
- where the indicator_name is "Population of the official age for secondary education, both sexes (number)", and
- where the year is 2015.

In [ ]:
SELECT
    summary.region,
    edu.year,
    SUM(edu.value) secondary_edu_pop
FROM
    `bigquery-public-data.world_bank_intl_education.international_education` AS edu
    --using edu as alias for this table
INNER JOIN
    `bigquery-public-data.world_bank_intl_education.country_summary` AS summary
    --using summary as alias for this table
ON edu.country_code = summary.country_code
   --country_code is used as key
    WHERE summary.region IS NOT NULL
    AND edu.indicator_name = 'Population of the official age for secondary education, both sexes (number)'
    AND edu.year = 2015
GROUP BY
  summary.region,
  edu.year
ORDER BY secondary_edu_pop DESC;

The query successfully returns the 7 regions of the world with the total number of people of the official age for secondary education in the year 2015 as shown below:

![Secondary education population in 2015 by region](c05m03-query-2015-edu-pop.png 'Secondary education population in 2015 by region')

## Query: